/* PC */
@media (min-width: 1024px) {

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */


@media (max-width: 739px) {
    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }
    
    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav li a{
        padding: 2px 24px;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }
    
    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 4px 40px;
    }
}