/* Reset CSS */

* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family:Arial, Helvetica, sans-serif;
}

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết

*/

/* 
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...)
*/

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background-color: #000;
    z-index: 1;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    line-height: 48px;
    padding: 0 24px;
    display: block; 
}

#nav li:hover .subnav {
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav {
    display: inline-block;
}

#nav .subnav {
    display: none; 
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 36px;
}

#nav .nav-arrow-down {
    font-size: 16px;
}

#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#header .search-btn {
    float: right;
    padding: 0 20px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 48px;
}

#slider {
    position: relative;
    margin-top: 48px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;

    /* left: 50%;
    transform: translateX(-50%); */

    /* right: 0;
    left: 0; */

    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description {
    font-size: 16px;
    margin-top: 24px;
}

#content {

}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 16px;
    text-align: center;
    margin-top: 24px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 16px;
    margin-top: 24px;
    text-align: justify;
    line-height: 1.5;
}

#content .members-list {
    margin-top: 48px;

    /* overflow: hidden; */
}

#content .member-item {
    float: left;

    /* width: 33.33333%; */

    width: calc(100% / 3);
    text-align: center;
}

#content .member-name {
    font-size: 16px;
}

#content .member-img {
    margin-top: 16px;
    width: 156px;
    border-radius: 4px;
}

/* Tour section */
.tour-section {
    background-color: #000;
}

.ticket-lists {
    margin-top: 40px;
    list-style: none;
    background-color: #fff;
}

.ticket-lists li {
    color: #757575;
    font-size: 16px;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-lists .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 4px 4px;
    margin-left: 16px;
}

.ticket-lists .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
    margin-right: 16px;
}

/* Places */
.places-list {
    margin: 32px -8px 0;
    padding-bottom: 48px;
}
.place-item {
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    font-size: 16px;
    background-color: #fff;
}
.place-heading {
    font-size: 16px;
    font-weight: 600;
}
.place-time {
    margin-top: 16px;
    color: #757575;
}
.place-desc {
    margin-top: 16px;
    line-height: 1.5;
}
.place-buy-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 12px 16px;
    display: inline-block;
    margin-top: 16px;
}

.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}

/* Footer section */
#footer {

}
